# MongoDB
# Ignorar archivos de base de datos y logs de MongoDB
*.lock
*.db
*.ns
*.wt
*.log
mongod.lock
dump/
journal/

# Unity
# Ignorar carpetas y archivos generados automáticamente por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# PNG files
# Ignorar todos los archivos PNG
*.png

# SQL files
# Ignorar archivos SQL
*.sql

.vs/*
UserSettings/