# MongoDB
# Ignorar archivos de base de datos y logs de MongoDB
*.lock
*.db
*.ns
*.wt
*.log
mongod.lock
dump/
journal/

# Unity
# Ignorar carpetas y archivos generados automáticamente por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Mm]emoryCaptures/
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# SQL files
# Ignorar archivos SQL
*.sql

# Never ignore DLLs in the FMOD subfolder.
!/[Aa]ssets/Plugins/FMOD/**/lib/*

# Don't ignore images and gizmos used by FMOD in the Unity Editor.
!/[Aa]ssets/Gizmos/FMOD/*
!/[Aa]ssets/Editor Default Resources/FMOD/*

# Ignore the Cache folder since it is updated locally.
/[Aa]ssets/Plugins/FMOD/Cache/*

# Ignore bank files in the StreamingAssets folder.
/[Aa]ssets/StreamingAssets/**/*.bank
/[Aa]ssets/StreamingAssets/**/*.bank.meta

# If the source bank files are kept outside of the StreamingAssets folder then these can be ignored.
# Log files can be ignored.
fmod_editor.log

.vs/*
UserSettings/
.vsconfig
.vscode/*
Builds/*

.idea/*

[Aa]rtifacts/
[Cc]odeCoverage/
