# MongoDB
# Ignorar archivos de base de datos y logs de MongoDB
*.lock
*.db
*.ns
*.wt
*.log
mongod.lock
dump/
journal/

# Unity
# Ignorar carpetas y archivos generados automáticamente por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Mm]emoryCaptures/
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# SQL files
# Ignorar archivos SQL
*.sql

.vs/*
UserSettings/
.vsconfig
.vscode/*
Builds/*

.idea/*

[Aa]rtifacts/
[Cc]odeCoverage/
